.grid{
       display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 462px;
    height: 500px;
}
.title , .winnerTitle{
    width: 100%;
    text-align: center;
    color: #1f5839;
}
.btn{
    width: 150px;
    height: 33px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid black;
    text-align: center;
    border-radius: 14px;
    margin-left: 10rem;
    margin-top: 10px;
    color: black;
    font-size: 1rem;
}